<?xml version="1.0"?>
<robot name="cibo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Color -->
  <material name="black">
    <color rgba="0.0 0.0 0.0 1"/>
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <!-- frame -->
  <link name="base_link"/>

  <!-- front_camera -->
  <link name="camera_front_link">
    <visual>
      <geometry>
        <box size="0.0123 0.0653 0.0225"/>
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="camera_front_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_front_link"/>
    <origin xyz="0.0 0.0 0.9" rpy="0 0 0"/>
  </joint>

  <!-- Optical frame -->
  <link name="camera_front_depth_optical_frame"/>

  <joint name="camera_front_optical_joint" type="fixed">
    <parent link="camera_front_link"/>
    <child link="camera_front_depth_optical_frame"/>
    <!-- Typical ROS camera optical frame convention -->
    <origin xyz="0.0 0.0 0.0" rpy="-1.570796 0 -1.570796"/>
  </joint>

  <!-- rear_camera -->
  <link name="camera_rear_link">
    <visual>
      <geometry>
        <box size="0.0123 0.0653 0.0225"/>
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="camera_rear_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_rear_link"/>
    <origin xyz="3.8 0.0 0.9" rpy="0 0 3.14"/>
  </joint>

  <!-- Optical frame -->
  <link name="camera_rear_depth_optical_frame"/>

  <joint name="camera_rear_optical_joint" type="fixed">
    <parent link="camera_rear_link"/>
    <child link="camera_rear_depth_optical_frame"/>
    <!-- Typical ROS camera optical frame convention -->
    <origin xyz="0.0 0.0 0.0" rpy="-1.570796 0 -1.570796"/>
  </joint>

  <!-- LiDAR -->

</robot>