<?xml version="1.0"?>
<robot name="cibo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Color -->
  <material name="black">
      <color rgba="0.0 0.0 0.0 1"/>
  </material>

  <material name="grey">
      <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <!-- frame -->
  <link name="base_link"/>

  <!-- front_camera -->
  <link name="camera_front_link">
    <visual>
      <geometry>
        <box size="0.0123 0.0653 0.0225"/>
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="camera_front_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_front_link"/>
    <origin xyz="0.0 0.0 1.0" rpy="0 0 0"/>
  </joint>

  <link name="camera_front_depth_optical_frame">

  <joint name="camera_front_optical_joint" type="fixed">
    <parent link="camera_front_link"/>
    <child link="camera_front_depth_optical_frame"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

</robot>